---
layout: default
---
<section class="post-list">
    {% if site.posts.size > 0 %}
        {% for post in site.posts %}
            <article class="post-summary">
                <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
                <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%-d.%-m.%Y' }}</time></p>
                {% if post.excerpt %}
                <div class="post-excerpt">{{ post.excerpt }}</div>
                {% endif %}
            </article>
        {% endfor %}
    {% else %}
        <p>Bald folgen erste Beiträge.</p>
    {% endif %}
</section>
